
body {
    margin: 0.3;
    font-size: 1.8rem;
    overflow-x: hidden;
    letter-spacing: 0.1em;
    line-height: 1.9em;
    font-family: "KaiTi", "Microsoft YaHei", sans-serif;
}

.content p { line-height: 1.45em; margin-top: 0.3em; margin-bottom: 0.3em; }

u {
    text-decoration-color: #5eacf0;
    text-decoration-style: wavy;
}

.small-text {
    font-size: 14px;
}
